.pianoContainer {
  text-align: center;
  height: 80vh;
}

.pianoContainer .keyNoteContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

.pianoContainer .keyNoteContainer .singleKeyWhite {
  width: 60px;
  height: 300px;
  border: 2px solid #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
}

.pianoContainer .keyNoteContainer .singleKeyBlack {
  width: 30px;
  height: 200px;
  background-color: #000;
  position: relative;
  margin-left: -17px;
  margin-right: -11px;
  z-index: 2;
  cursor: pointer;
}

.pianoContainer .keyNoteContainer .singleKeyWhite span {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}

.pianoContainer .musicSheet {
  margin-top: 25px;
}

.pianoContainer .musicSheet select {
  width: 80%
}

@media screen and (max-width: 700px) {
  .pianoContainer .keyNoteContainer {
    margin: 25px auto;
    width: 94%;
  }
}
