.puzzleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.puzzleContainer .chooseImage button, .puzzleContainer .chooseDifficulty, button {
  margin-left: 10px;
}

.puzzleContainer .chooseImage, .puzzleContainer input {
  margin-top: 5px;
}

#canvas {
  border: 1px solid red;
  max-height: 500px;
}
