/* rows */
.gridRow {
  text-align: center;
  display: flex;
  justify-content: center;
}
.gridRow > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.gridRow > div.green {
  /* -- changed it to variable */
  --background: #5ac85a;
  --border-color: #5ac85a;
  animation: flip 0.5s ease forwards;
}
.gridRow > div.grey {
  --background: #a1a1a1;
  --border-color: #a1a1a1;
  animation: flip 0.5s ease forwards;
}
.gridRow > div.yellow {
  --background: #e2cc68;
  --border-color: #e2cc68;
  animation: flip 0.5s ease forwards;
}

.gridRow > div:nth-child(2) {
  animation-delay: 0.2s;
}
.gridRow > div:nth-child(3) {
  animation-delay: 0.4s;
}
.gridRow > div:nth-child(4) {
  animation-delay: 0.6s;
}
.gridRow > div:nth-child(5) {
  animation-delay: 0.8s;
}

.gridRow.current > div.filled {
  animation: bounce 0.2s ease-in-out;
}

.keypad, .buttons {
  max-width: 500px;
  margin: 20px auto;
}
.keypad > div {
  margin: 5px;
  width: 40px;
  height: 50px;
  background: rgb(182, 181, 181);
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
  cursor: pointer;
}

.keypad > div.green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div.grey {
  background: #575757;
  color: #fff;
  transition: all 0.3s ease-in;
}

/* keyframe animations */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #2c3e50 !important;
    border-color: #fff !important;
  }
  45% {
    transform: rotateX(90deg);
    background: #2c3e50 !important;
    border-color: #fff !important;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #fff;
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #fff;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
